ul,
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
}
.form-input {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.form-container {
    border: 1px solid hsl(0, 3%, 34%);
    width: fit-content;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    padding: 3rem 0;
    margin-top: 3rem;
    margin-bottom: 3rem;
    background-color: hsl(0, 3%, 34%);
    border-radius: 1.5rem;
    color: white;
}
input{
    border-radius: .5rem;
    outline: none;
    border: none;
}
